body, html {
    height: 100%;
    width: 100%:
}

p {
    color: #694f40;
    font-family: Helvetica Neue, Helvetica;
}

.main {
    overflow-x: hidden;
}

.heading {
    font-size: 35px;
    font-weight: 100;
    font-family: Helvetica Neue, Helvetica;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.whiteBackground {
    background-color: #fff;
}

.yellowBackground {
    background-color: #e8b90e;
}

.brownBackground {
    background-color: #684f40;
}

.brownFont {
    color: #684f40;
}

.whiteFont {
    color: #fff;
}

.yellowFont {
    color: #e8b90e;
}

.noMargin {
    margin: 0;
}

.topMargin {
    margin-top: 1em;
}

.bottomMargin {
    margin-bottom: 1em;
}

.noPadding {
    padding: 0;
}

.topPadding {
    padding-top: 1em;
}

.bottomPadding {
    padding-bottom: 1em;
}

.logoFooter {
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 8em;
    background: rgba(232, 185, 14, .38);
}

img.grayscale {
    filter: url("data:image/svg+xml;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.dropShadow {
    box-shadow: 3px 3px 8px grey;
    -webkit-box-shadow: 3px 3px 8px grey;
    -moz-box-shadow: 3px 3px 8px grey;
    -ms-box-shadow: 3px 3px 8px grey;
}

.textShadow {
    text-shadow: #CFCFCF 3px 3px 4px;
    -webkit-text-shadow: #CFCFCF 3px 3px 4px;
    -moz-text-shadow: #CFCFCF 3px 3px 4px;
    -ms-text-shadow: #CFCFCF 3px 3px 4px;
}
