body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

li.main-nav a:hover {
    color: red;
}

p {
    color: #684f40;
    font-family: Helvetica Neue, Helvetica;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 3px;
    font-weight: 200;
}

.gold-guide-section-titles {
    text-transform: uppercase;
    font-weight: 500;
    color: #e8b90e; 
    margin-top: 50px;
    margin-bottom: 28px;
    line-height: 23px;
}

p {
    margin: 0px;
}

.back-to-top-link {
    color: #e8b90e;
}

.guide-text {
        padding-left: 0px;
        padding-right: 75px;
    }

a:hover {
    /*background-color: #e8b90e;
    color: white;
    padding: 2px 5px 3px 5px;
    text-decoration: none;*/
    text-decoration: underline;
    color: #e8b90e;
}

a.link-to-expert:link {
    color: #e8b90e;
}

.main {
    overflow-x: hidden;
    width: 1200px;
    margin: auto;
}

.slide {
    width: 100%;
}

.heading {
    font-size: 35px;
    font-weight: 200;
    font-family: Helvetica Neue, Helvetica;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo {
    max-width: 120px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 0px;
}

.logos-top-row {
    padding-top: 20px;
    padding-left: 2%;
}

.logos-bottom-row {
    padding-bottom: 5px;
    padding-left: 5%;
}

.social-media-section {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#interviews-content {
    width: 1003px;
    margin: auto;
}

.expert-image {
    margin-bottom: 0px;
    margin-top: 50px;
}

#new-expert-image {
    padding-top: 10px;
}

.new-expert-name {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    text-transform: uppercase;
    color: #684f40;
}

.expert-name {
    margin-bottom: -5px;
    margin-top: 44px;
}

.expert-title {
    font-size: 12px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 10px;
}

.small-text {
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
}

.more-sweepstakes-title {
    margin-top: 50px;
}

hr {
    border-color: #e8b90e;
    border-width: 20px;
    margin: 50px auto 0px auto;
/*    width: 1003px;*/
    opacity: 0.8;
}

hr.thin {
    border-color: #e8b90e;
    border-width: 3px;
    width: 1050px;
}

hr.more-sweepstakes {
    margin-top: 0px;
    border-width: 5px;
    width: 1050px;
}

#education-image {
  width: 100%;
}

img.gold-guide {
    max-width: 300px;
}

#trends-image {
  margin: auto;
  padding: 0px 82px 0px 82px;
}

#trends-subtitle {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 7px;
    padding-right: 90px;
}

#week-number {
    margin-bottom: 0px;
    margin-top: 40px;
    padding-bottom: 5px;
    padding-right: 90px;
}

p.link a {
    color: #684f40;
}

p.link {
    padding-bottom: 30px;
    padding-top: 80px;
}

#trends-link {
    padding-top: 40px;
    text-align: center;
}

.about-subtitle{
    font-size: 28px;
    padding-top: 45px;
    padding-bottom: 10px;
    font-weight: 500;
    opacity: 0.9;
}

.about {
    width: 70%;
    margin: auto;
}

div.about a {
    font-size: 12px;
}

.mystyle input[type="text"] {
   height: 14px;
   font-size: 10px;
   line-height: 14px;
}

#email-field-footer {
    border: 1px solid #684f40;
    height: 50px;
    width: 300px;
    padding-left: 10%;
    margin-top: 15px;
}

.education-title {
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 30px;
    font-weight: 100;
}   

.education-quote {
    position: absolute;
    top: 42%;
    left: 10%;
    width: 35%;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
}

.education-link {
    position: absolute;
    left: 10%;
    top: 75%;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}

.education-pdf-link {
    position: absolute;
    left: 21%;
    top: 75%;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.gold-guide-title {
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-left: 73px;
}

.twitter-quote {
    background: #e8b90e;
    opacity: 0.8;
    padding: 3px;
}

a.twitter-quote-link:link {
    color: #684f40;
}

a.twitter-quote-link:hover {
    color: white;
    text-decoration: none;
}

.by-migm {
        padding-left: 75px;
    }

.contest-button {
    max-width: 200px;
}

.margin-left {
    margin-left: 75px;
}

.margin-right {
    margin-right: 75px;
}

.padding-top-standard {
    padding-top: 40px;
}

.padding-bottom-standard {
    padding-bottom: 30px;
}

.note {
    font-size: 12px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    margin-bottom: 0.25em;
    text-transform: uppercase;
    font-size: 19px;
}

h5.blog-page-prof-title {
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 5px;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.whiteBackground {
    background-color: #fff;
}

.yellowBackground {
    background-color: #e8b90e;
}

.brownBackground {
    background-color: #684f40;
}

.brownFont {
    color: #684f40;
}

.whiteFont {
    color: #fff;
}

.yellowFont {
    color: #e8b90e;
}

.noBorder {
    border: none;
}

.noMargin {
    margin: 0;
}

.topMargin {
    margin-top: 1em;
}

.bottomMargin {
    margin-bottom: 1em;
}

.noPadding {
    padding: 0;
}

.topPadding {
    padding-top: 1em;
}

.bottomPadding {
    padding-bottom: 1em;
}

.logoFooter {
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 8em;
    background: rgba(232, 185, 14, .38);
}

img.grayscale {
    filter: url("data:image/svg+xml; utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.navbar-default {
    background-color:white;
    border: none;
}

.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:visited {
    color: #684f40;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active {
    color: #e8b90e;
    font-weight: 200;
}

#socialHeader li i {
    padding: 0 0.04em; /* use for the icons in the navigation */
}

.leftBorderYellow {
    border-left: 1px solid #e8b90e;
}


#interviewPanels .panel {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#interviewPanels .panel-heading {
    padding: 0 15px;
}

#interviewPanels .panel-body {
    padding: 5px 15px;
}

#interviewPanels .panel-footer {
    padding: 0 15px;
    background: none;
    border: none;
}

#interviewPanels .panel-body .hoverQuote {
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 10%;
    width: 80%;
    height: 65%;
    padding: 3em 2em;    
    transition: opacity 700ms;
    -webkit-transition: opacity 700ms;
    background-color: rgba(0, 0, 0, 0.0);
    opacity: 0;
}

#interviewPanels .panel-body:hover .hoverQuote {
    display: inline-block;
    position: absolute;
    top: 8%;
    left: 8.5%;
    width: 83%;
    height: 65.5%;
    padding: 3em 2em;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}


#interviewPanels .panel-body .prevHoverQuote {
    display: inline-block;
    position: absolute;
    top: 1%;
    left: 10%;
    width: 80%;
    height: 65%;
    padding: 3em 2em;    
    transition: opacity 700ms;
    -webkit-transition: opacity 700ms;
    background-color: rgba(0, 0, 0, 0.0);
    opacity: 0;
}

#interviewPanels .panel-body:hover .prevHoverQuote {
    display: inline-block;
    position: absolute;
    top: 1.5%;
    left: 5.5%;
    width: 90%;
    height: 69.5%;
    padding: 3em 2em;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.dropShadowMain {
    box-shadow: 0px 50px 60px rgb(190, 190, 190);
    -webkit-box-shadow: 0px 50px 60px rgb(190, 190, 190);
    -moz-box-shadow: 0px 50px 60px rgb(190, 190, 190);
    -ms-box-shadow: 0px 50px 60px rgb(190, 190, 190);
}

.dropShadowButton {
    box-shadow: 1px 1px 5px grey;
    -webkit-box-shadow: 1px 1px 5px grey;
    -moz-box-shadow: 1px 1px 5px grey;
    -ms-box-shadow: 1px 1px 5px grey;
}

.textShadow {
    text-shadow: #CFCFCF 3px 3px 4px;
    -webkit-text-shadow: #CFCFCF 3px 3px 4px;
    -moz-text-shadow: #CFCFCF 3px 3px 4px;
    -ms-text-shadow: #CFCFCF 3px 3px 4px;
}

.affix {
    top: 0;
    z-index: 100;
    width: 100%;
    -webkit-transition: background-color 3s;
    transition: background-color 3s;
}

.affix .navbar-default {
    background-color: #e8b90e;
}

.affix-top .navbar-default {
    background-color: rgba(255, 255, 255, 0);
}

.affix .navbar-nav {
    float: none;
}

.navbar-default {
    background-color:white;
    border: none;
}

.header-backlink {
    position: absolute;
    top: 20%;
    left: 8%;
}

.header-backlink::before {
    color: #684f40;
    content: "< ";
}

a.brown-button:hover {
  background-color: #684f40;
  color: white;
  font-weight: 400;
}

/*a.brown-button span:hover {
  color: #e8b90e;

}*/

.brown-button {
    color: white;
    border: none;
    background: #684f40;
}

/*.brown-button:hover {
    color: #e8b90e;
}*/

/*a.brown-button:hover span {
  color: #e8b90e;
}*/

a.brown-link:hover {
    color: #e8b90e;
}

p.pinterest-contest-text {
    max-width: 25%;
    position: absolute;
    top: 52%;
    left: 57%;
    line-height: 24px;
    font-size: 14px;
}

p.instagram-contest-text {
    max-width: 25%;
    position: absolute;
    top: 51%;
    left: 50%;
    line-height: 24px;
    font-size: 14px;
}

/*.yellow-button:link {
  color: black;
  background-color: #e8b90e;
  border: none;
}*/


.newTag {
    position: absolute;
    top: 0;
    left: 0;    
}

.oldYear {
    font-size: 1.2em;
    padding-right: 30px;
    padding-bottom: 50px;
    position: absolute;
    top: 3px;
    right: 0;
    color: #e8b90e;
}


.homeNewTag {
    position: absolute;
    top: 4.3em;
    left: -1em;
}

.homeOldYear {
    color: #e8b90e;
    font-size: 1.2em;
    position: absolute;
    right: 1.5em;
    top: 3.5em;
}

.intListNewTag {
    position: absolute;
    top: 2.5em;
    left: 1.1em; 
}

.intListOldYear {
    font-size: 1.2em;
    padding-right: 30px;
    padding-bottom: 50px;
    position: absolute;
    top: 2.0em;
    right: 0.5em;
    color: #e8b90e;
}

p a.download-pdf-link:hover {
    color: #e8b90e;
    border: none;
}


.readMore {
    display: none;
}

.moreTag {
    display: inline-sblock;
    font-size: 0.9em;
    font-weight: 200;
    text-align: center;
}

.slider-text {
    position: absolute;
    top: 60px;
    left: 80px;
}

div.migm-slide h1 {
    font-size: 40px;
    font-weight: 300;
    max-width: 520px;
    padding-bottom: 30px;

}

div.migm-slide p {
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 50px;
}

.migm-slide a {
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    background-color: #e8b90e;
    border-radius: 5px;
    border: none;
}

.migm-slide a:hover {
    text-decoration: underline;
    color: white;
}

.contest-text {
    padding: 0px 30px;
}

.contest-text p {
    font-weight: 300;
    padding-bottom: 20px;
}

@media screen and (max-width: 1100px) {

    .slider-text {
        position: absolute;
        top: 30px;
        left: 50px;
    }

    div.migm-slide h1 {
        font-size: 30px;
        font-weight: 300;
        max-width: 520px;
        padding-bottom: 20px;

    }

    div.migm-slide p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    img.gold-guide {
        width: 300px;
    } 

    p.pinterest-contest-text {
        max-width: 25%;
        position: absolute;
        top: 52%;
        left: 70%;
        line-height: 24px;
        font-size: 14px;
    }

    p.instagram-contest-text {
        max-width: 25%;
        position: absolute;
        top: 51%;
        left: 59%;
        line-height: 24px;
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {

    .slider-text {
        position: absolute;
        top: 15px;
        left: 50px;
    }

    div.migm-slide h1 {
        font-size: 30px;
        font-weight: 300;
        max-width: 520px;
        padding-bottom: 10px;

    }

    div.migm-slide p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 20px;
    }

    p.pinterest-contest-text {
        max-width: 25%;
        position: absolute;
        top: 57%;
        left: 65%;
        line-height: 24px;
        font-size: 14px;
    }

    p.instagram-contest-text {
        max-width: 25%;
        position: absolute;
        top: 56%;
        left: 60%;
        line-height: 24px;
        font-size: 14px;
    }

    .education-title {
        position: absolute;
        top: 30%;
        left: 10%;
        font-size: 30px;
        font-weight: 100;
    }   

    .education-quote {
        position: absolute;
        top: 42%;
        left: 10%;
        width: 55%;
        text-align: left;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .education-link {
        position: absolute;
        left: 10%;
        top: 75%;
        font-size: 16px;
        font-weight: 100;
        letter-spacing: 1px;
    }

    .migm-logo {
        width: 250px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    } 

    .logo {
        max-width: 120px;
        padding-top: 20px;
        padding-right: 15px;
        padding-bottom: 0px;
    }

    .logos-top-row {
        padding-top: 20px;
        padding-left: 2%;
    }

    .logos-bottom-row {
        padding-bottom: 5px;
        padding-left: 5%;
    }
}

@media screen and (max-width: 767px) {

    .slider-text {
        position: absolute;
        top: 10%;
        left: 15%;
        padding-right: 50px;
    }

    div.migm-slide h1 {
        font-size: 30px;
        font-weight: 300;
        max-width: 520px;
        padding-bottom: 20px;

    }

    div.migm-slide p {
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 30px;
        color: white;
        font-weight: 300;
    }

    h2.heading {
        font-size: 20px;
        font-weight: 500;
        font-family: Helvetica Neue, Helvetica;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    p.pinterest-contest-text {
        max-width: 25%;
        position: absolute;
        top: 48%;
        left: 58%;
        line-height: 24px;
        font-size: 14px;
    }

    p.instagram-contest-text {
        max-width: 25%;
        position: absolute;
        top: 51%;
        left: 59%;
        line-height: 24px;
        font-size: 14px;
    }

    .gold-guide-title {
        font-size: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-weight: 500;
        padding-left: 30px;
        padding-top: 30px;
    }

    .gold-guide-section-titles {
        text-transform: uppercase;
        font-weight: 500;
        color: #e8b90e; 
        opacity: 0.9;
        margin-top: 15px;
        margin-bottom: 20px;
        line-height: 23px;
    }

    .by-migm {
        padding-left: 30px;
        margin-top: 15px;
    }

    #facebook-icon {
        margin-left: 10px;
        padding-bottom: 25px;
        margin-top: -15px;
    }

    #twitter-icon {
        padding-bottom: 23px;
        margin-top: -15px;
    }

    .margin-right {
        margin-right: 30px;
    }

    .guide-text {
        padding-left: 50px;
        padding-right: 50px;
    }

    h4 {
        margin: 0px;
        text-transform: uppercase;
        font-weight: 400;
        color: #e8b90e; 
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 23px;
    }

    #more-sweepstakes-title {
        margin-top: 30px;
        margin-left: 30px;
    }

    .margin-left {
        margin-left: 35px;
    }

    .education-title {
        position: absolute;
        top: 35%;
        left: 10%;
        font-size: 30px;
        font-weight: 300;
        line-height: 40px;
    }   

    .education-link {
        position: absolute;
        left: 10%;
        top: 65%;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .heading {
        font-size: 30px;
        font-weight: 400;
        font-family: Helvetica Neue, Helvetica;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .migm-logo {
        width: 250px;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #trends-image {
      margin: auto;
      padding: 40px 0px 0px 0px;
    }

    .homeNewTag {
      position: absolute;
      top: 4.3em;
      left: 0.4em;
    }

    .homeOldYear {
        color: #e8b90e;
        font-size: 1.2em;
        position: absolute;
        right: 4.5em;
        top: 4em;
    }

}

@media screen and (max-width: 475px) {

    .slider-text {
        position: absolute;
        top: 1%;
        left: 15%;
        padding-right: 50px;
    }

    div.migm-slide h1 {
        font-size: 22px;
        font-weight: 300;
        max-width: 520px;
        padding-bottom: 5px;

    }

    div.migm-slide p {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 15px;
        color: white;
        font-weight: 300;
    } 

    .education-title {
        position: absolute;
        top: 35%;
        left: 10%;
        font-size: 30px;
        font-weight: 300;
        line-height: 40px;
    }   

    .education-link {
        position: absolute;
        left: 35%;
        top: 70%;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .homeNewTag {
        position: absolute;
        top: 4.3em;
        left: -1em;
    }

    .homeOldYear {
        color: #e8b90e;
        font-size: 1.2em;
        position: absolute;
        right: 1.5em;
        top: 3.5em;
    }    
}    
