body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

p {
    color: #694f40;
    font-family: Helvetica Neue, Helvetica;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 15px;
}

h4 {
    margin: 0px;
    text-transform: uppercase;
    font-weight: 400;
    color: #e8b90e; 
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 23px;
}

p {
    margin: 0px;
}

.back-to-top-link {
    color: #e8b90e;
}

a:hover {
    /*background-color: #e8b90e;
    color: white;
    padding: 2px 5px 3px 5px;
    text-decoration: none;*/
    text-decoration: underline;
    color: #e8b90e;
}

.main {
    overflow-x: hidden;
    width: 1200px;
    margin: auto;
}

.slide {
    width: 100%;
}

.heading {
    font-size: 35px;
    font-weight: 200;
    font-family: Helvetica Neue, Helvetica;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo {
    max-width: 110px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
}

.logos-top-row {
    padding-top: 20px;
    padding-left: 2%;
}

.logos-bottom-row {
    padding-bottom: 20px;
    padding-left: 5%;
}

.social-media-section {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#interviews-content {
    width: 1003px;
    margin: auto;
}

.expert-image {
    margin-bottom: 0px;
    margin-top: 50px;
}

#new-expert-image {
    padding-top: 10px;
}

#new-expert-name {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}

.expert-name {
    margin-bottom: -5px;
    margin-top: 44px;
}

.expert-title {
    font-size: 12px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 10px;
}

.small-text {
    font-size: 12px;
    font-style: italic;
    font-weight: 200;
}

#more-sweepstakes-title {
    margin-top: 50px;
}

hr {
    border-color: #e8b90e;
    border-width: 20px;
    width: 1003px;
    margin: 50px auto 0px auto;
}

hr.thin {
    border-color: #e8b90e;
    border-width: 1px;
    width: 1050px;
}

hr.more-sweepstakes {
    margin-top: 0px;
    border-width: 3px;
    width: 1050px;
}

#education-image {
  width: 100%;
}

img.gold-guide {
    max-width: 300px;
}

#trends-image {
  margin: auto;
  padding: 0px 50px 0px 50px;
}

#trends-subtitle {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 7px;
}

#week-number {
    margin-bottom: 0px;
    margin-top: 40px;
}

p.link a {
    color: #684f40;
}

p.link {
    padding-bottom: 30px;
    padding-top: 80px;
}

#trends-link {
    padding-top: 40px;
}

.about-subtitle {
    font-size: 28px;
    padding-top: 45px;
    padding-bottom: 10px;
    font-weight: 500;
}

.about {
    width: 70%;
    margin: auto;
}

div.about a {
    font-size: 12px;
}

.mystyle input[type="text"] {
   height: 14px;
   font-size: 10px;
   line-height: 14px;
}

#email-field-footer {
    border: 1px solid #684f40;
    height: 50px;
    width: 300px;
    padding-left: 10%;
    margin-top: 15px;
}

.education-title {
    position: absolute;
    top: 30%;
    left: 9%;
    font-size: 30px;
    font-weight: 100;
}   

.education-quote {
    position: absolute;
    top: 42%;
    left: 9%;
    width: 35%;
    text-align: left;
    font-weight: 100;
    letter-spacing: 1px;
}

.education-link {
    position: absolute;
    left: 9%;
    top: 75%;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 1px;
}

.gold-guide-title {
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 500;
    padding-left: 75px;
}

.twitter-quote {
    background: #e8b90e;
    padding: 3px;
}

a.twitter-quote:link {
    color: #684f40;
}

a.twitter-quote:hover {
    color: white;
    text-decoration: none;
}

.by-migm {
        padding-left: 75px;
    }

.contest-button {
    max-width: 200px;
}

.margin-left {
    margin-left: 75px;
}

.margin-right {
    margin-right: 75px;
}

.padding-top-standard {
    padding-top: 40px;
}

.padding-bottom-standard {
    padding-bottom: 30px;
}

.note {
    font-size: 12px;
}

.form-actions {
    margin: 0;
    text-align: center;
}

.whiteBackground {
    background-color: #fff;
}

.yellowBackground {
    background-color: #e8b90e;
}

.brownBackground {
    background-color: #684f40;
}

.brownFont {
    color: #684f40;
}

.whiteFont {
    color: #fff;
}

.yellowFont {
    color: #e8b90e;
}

.noMargin {
    margin: 0;
}

.topMargin {
    margin-top: 1em;
}

.bottomMargin {
    margin-bottom: 1em;
}

.noPadding {
    padding: 0;
}

.topPadding {
    padding-top: 1em;
}

.bottomPadding {
    padding-bottom: 1em;
}

.logoFooter {
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100%;
    height: 8em;
    background: rgba(232, 185, 14, .38);
}

img.grayscale {
    filter: url("data:image/svg+xml;
    utf8, <svg xmlns=\'http: //www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0.6666 0.6666 0.6666 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
}

.dropShadow {
    box-shadow: 3px 3px 8px grey;
    -webkit-box-shadow: 3px 3px 8px grey;
    -moz-box-shadow: 3px 3px 8px grey;
    -ms-box-shadow: 3px 3px 8px grey;
}

.dropShadowMain {
    box-shadow: 0px 3px 60px rgb(190, 190, 190);
    -webkit-box-shadow: 0px 3px 60px rgb(190, 190, 190);
    -moz-box-shadow: 0px 3px 60px rgb(190, 190, 190);
    -ms-box-shadow: 0px 3px 60px rgb(190, 190, 190);
}

.dropShadowButton {
    box-shadow: 1px 1px 5px grey;
    -webkit-box-shadow: 1px 1px 5px grey;
    -moz-box-shadow: 1px 1px 5px grey;
    -ms-box-shadow: 1px 1px 5px grey;
}


.textShadow {
    text-shadow: #CFCFCF 3px 3px 4px;
    -webkit-text-shadow: #CFCFCF 3px 3px 4px;
    -moz-text-shadow: #CFCFCF 3px 3px 4px;
    -ms-text-shadow: #CFCFCF 3px 3px 4px;
}

@media screen and (max-width: 767px) {
    .gold-guide-title {
        font-size: 25px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-weight: 500;
        padding-left: 30px;
    }

    .by-migm {
        padding-left: 30px;
        margin-top: 15px;
    }

    #facebook-icon {
        margin-left: 10px;
        padding-bottom: 25px;
        margin-top: -15px;
    }

    #twitter-icon {
        padding-bottom: 23px;
        margin-top: -15px;
    }

    .margin-right {
        margin-right: 30px;
    }

    .guide-text {
        padding-left: 50px;
    }

    h4 {
        margin: 0px;
        text-transform: uppercase;
        font-weight: 400;
        color: #e8b90e; 
        margin-top: 10px;
        margin-bottom: 20px;
        line-height: 23px;
    }

    #more-sweepstakes-title {
        margin-top: 30px;
        margin-left: 30px;
    }
}